---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ToggleDark from './ToggleDark.astro'
---
<header>
 <nav>
   <Hamburger />
   <ToggleDark />
   <Navigation />
 </nav>
</header>